<%- include ('partials/header.ejs') %>
<body>
   <%- include ('partials/navbar.ejs') %>
   <div class="container">
      <h2>Pagina Pergunta</h2> 
      <%= pergunta.id %> <%= pergunta.titulo %>
   </div>
</body>
<%- include ('partials/footer.ejs') %>
